*{
    padding: 0px;
    margin: 0px;
}
html,body{
    height: 100%;
}
html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(142, 219, 238);
}
body{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
canvas{
    background-color: white;
    width: 400px;
}